<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<div class="container survey">
    <div style="margin-top: 30px;">
        <h1 id="title" class="text-center" style="font-family: 'Roboto', sans-serif;">Survey Form</h1>
    </div>
    <div style="font-family: 'Nanum Gothic', sans-serif;">
    <form id="survey-form" action="/survey" method="post">
        <div class="form-row">
            <div class="radiobuttons">
                <p>1. 당신의 성별은 어떻게 되시나요?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="gender" value="0" type="radio" class="userRatings"><label>여</label></li>
                    <li class="radio"><input name="gender" value="1" type="radio" class="userRatings"><label>남</label></li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>2. 당신의 나이는 어떻게 되시나요?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="age" value="4" type="radio" class="userRatings"><label>20대 이하</label>
                    </li>
                    <li class="radio"><input name="age" value="3" type="radio" class="userRatings"><label>30대</label>
                    </li>
                    <li class="radio"><input name="age" value="2" type="radio" class="userRatings"><label>40대</label>
                    </li>
                    <li class="radio"><input name="age" value="1" type="radio" class="userRatings"><label>50대</label>
                    </li>
                    <li class="radio"><input name="age" value="0" type="radio" class="userRatings"><label>60대 이하</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>3. 당신의 월 소득이 어떻게 되시나요?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="income" value="0" type="radio" class="userRatings"><label>150만 이하</label>
                    </li>
                    <li class="radio"><input name="income" value="1" type="radio" class="userRatings"><label>250만 이하</label>
                    </li>
                    <li class="radio"><input name="income" value="2" type="radio" class="userRatings"><label>350만 이하</label>
                    </li>
                    <li class="radio"><input name="income" value="3" type="radio" class="userRatings"><label>450만 이하</label>
                    </li>
                    <li class="radio"><input name="income" value="4" type="radio" class="userRatings"><label>550만 초과</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>4. 금융상품에 대한 본인의 지식수준이 어느 정도라고 생각하시나요?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="knowledge" value="0" type="radio" class="userRatings"><label>투자의사결정을 스스로 내려본 경험이 없다</label>
                    </li>
                    <li class="radio"><input name="knowledge" value="1" type="radio" class="userRatings"><label>주식과 채권의 차이를 구별할 수 있다</label>
                    </li>
                    <li class="radio"><input name="knowledge" value="2" type="radio" class="userRatings"><label>투자할 수 있는 대부분의 금융상품의 차이를 구별할 수 있다</label>
                    </li>
                    <li class="radio"><input name="knowledge" value="3" type="radio" class="userRatings"><label>금융상품을 비롯하여 모든 투자대상 상품의 차이를 이해하고 있다</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>5. 투자경험이 있는 금융상품을 선택하세요</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="exp" value="0" type="radio" class="userRatings"><label>정기예금, 적금, 보장성보험</label>
                    </li>
                    <li class="radio"><input name="exp" value="1" type="radio" class="userRatings"><label>저축성보험, 개인연금</label>
                    </li>
                    <li class="radio"><input name="exp" value="2" type="radio" class="userRatings"><label>펀드, 채권, 국내외 주식</label>
                    </li>
                    <li class="radio"><input name="exp" value="3" type="radio" class="userRatings"><label>암호화폐, 선물, 옵션</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>6. 당신은 “일생에 단 한번뿐인 꿈의 여행”을 위한 저축을 달성했습니다. 꿈의 여행을 떠나기 3주전 당신은 직업을 잃었습니다. 당신은 어떻게 하겠습니까?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="s1" value="1" type="radio" class="userRatings"><label>여행을 취소한다</label>
                    </li>
                    <li class="radio"><input name="s1" value="2" type="radio" class="userRatings"><label>계획보다 훨씬 값싼 여행을 간다</label>
                    </li>
                    <li class="radio"><input name="s1" value="3" type="radio" class="userRatings"><label>새로운 직장을 얻기 위해 준비하는 시간이 필요하므로 계획대로 여행을 간다</label>
                    </li>
                    <li class="radio"><input name="s1" value="4" type="radio" class="userRatings"><label>어쩌면 지금이 일생의 단 한번뿐인 꿈의 여행이 가능한 마지막 기회일지도 모르기 때문에 여행을 계획보다 늘린다</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>7. 당신이 “위험”이란 단어를 생각할 때, 마음 속에 가장 먼저 떠오르는 단어는 무엇입니까?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="s2" value="1" type="radio" class="userRatings"><label>손실(Loss)</label>
                    </li>
                    <li class="radio"><input name="s2" value="2" type="radio" class="userRatings"><label>불확실성 (Uncertainty)</label>
                    </li>
                    <li class="radio"><input name="s2" value="3" type="radio" class="userRatings"><label>기회 (Opportunity)</label>
                    </li>
                    <li class="radio"><input name="s2" value="4" type="radio" class="userRatings"><label>설렘 (Thrill)</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>8. 당신이 가지고 있는 것에 추가로 100만원을 받았습니다. 아래 두 가지 중에서 하나를 고른다면 당신은 무엇을 고를 것입니까?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="s3" value="1" type="radio" class="userRatings"><label>확실히 50만원을 얻을 수 있는 기회</label>
                    </li>
                    <li class="radio"><input name="s3" value="3" type="radio" class="userRatings"><label>50%의 확률로 100만원을 얻거나 50%의 확률로 아무것도 못 얻는 기회</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>9. 당신이 가지고 있는 것에 추가로 200만원을 받았습니다. 아래 두 가지 중에서 하나를 고른다면 당신은 무엇을 고를 것입니까?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="s4" value="1" type="radio" class="userRatings"><label>50만원의 확실한 손실</label>
                    </li>
                    <li class="radio"><input name="s4" value="3" type="radio" class="userRatings"><label>50%의 확률로 100만원 손실을 보거나 50%의 확률로 아무런 손실도 보지 않는 것</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>10. 당신이 2,000만원을 투자해야 한다면, 다음 중 가장 마음에 드는 투자옵션은 어떤 것 입니까?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="s5" value="1" type="radio" class="userRatings"><label>60%의 저위험 투자+ 30%의 중위험 투자+ 10%의 고위험 투자</label>
                    </li>
                    <li class="radio"><input name="s5" value="2" type="radio" class="userRatings"><label>30%의 저위험 투자+ 40%의 중위험 투자+ 30%의 고위험 투자</label>
                    </li>
                    <li class="radio"><input name="s5" value="3" type="radio" class="userRatings"><label>10%의 저위험 투자+ 40%의 중위험 투자+ 50%의 고위험 투자</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>11. 투자 시 발생하는 손실을 얼마나 감수할 수 있으신가요?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="risk" value="0" type="radio" class="userRatings"><label>손실 원치 않음</label>
                    </li>
                    <li class="radio"><input name="risk" value="1" type="radio" class="userRatings"><label>최소한의 손실</label>
                    </li>
                    <li class="radio"><input name="risk" value="2" type="radio" class="userRatings"><label>일부 손실 감수</label>
                    </li>
                    <li class="radio"><input name="risk" value="3" type="radio" class="userRatings"><label>높은 손실도 감수</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>12. 예상 투자 기간이 어떻게 되시나요?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="term" value="0" type="radio" class="userRatings"><label>1년 미만</label>
                    </li>
                    <li class="radio"><input name="term" value="1" type="radio" class="userRatings"><label>3년</label>
                    </li>
                    <li class="radio"><input name="term" value="2" type="radio" class="userRatings"><label>5년</label>
                    </li>
                    <li class="radio"><input name="term" value="3" type="radio" class="userRatings"><label>10년 이상</label>
                    </li>
                </ul>
            </div>
            <div class="radiobuttons">
                <p>13. 해외 투자에도 관심이 있으신가요?</p>
                <ul style="list-style: none;">
                    <li class="radio"><input name="oversea" value="0" type="radio" class="userRatings"><label>네 (해외 ETF 추천)</label>
                    </li>
                    <li class="radio"><input name="oversea" value="1" type="radio" class="userRatings"><label>아니요 (국내 ETF 추천)</label>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <button id="submit" type="submit" class="btn btn-primary btn-lg btn-radius">Submit</button>
            </div>
        </div>
    </form>
    <div>
    </div>
</div>
    </div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Roboto:wght@900&display=swap" rel="stylesheet">
<link href="/static/css/buttons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>